# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# temp files
tmp/

# Go workspace file
go.work
go.work.sum

# env file
.env


# node_modules for tailwind and daisyui, intentionally included in repo as they are small and required to run tailwind without installing npm/node in container or on local machine
!web/node_modules/